html {
  height: 100%; }

body {
  background-color: #ccc;
  margin: 0;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all 0.2s ease-in-out; }
  body.finished {
    background-color: rgba(0, 128, 0, 0.33); }
    body.finished .modal-outer {
      z-index: 2;
      pointer-events: auto;
      opacity: 1; }
    body.finished #timer {
      font-size: 30px;
      color: white;
      background-color: green; }

h1 {
  font-size: 1.5em;
  margin-left: 44px; }

#container {
  width: 80%;
  margin-bottom: 50px; }

ol {
  padding-left: 0px;
  margin: 0px; }

li {
  padding: 0;
  float: left;
  margin: 10px;
  list-style: none;
  width: 170px;
  height: 150px;
  cursor: pointer;
  background-color: #00476b;
  border-radius: 3px;
  transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23000000' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  li:hover {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.9);
    background-color: #004061; }

img {
  width: 98%;
  height: 98%;
  padding: 1%;
  opacity: 1;
  background-color: #00476b;
  border-radius: 3px;
  transform: scale(1.05);
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  visibility: visible; }
  img.hidden {
    opacity: 0;
    transform: scale(1) rotate(3deg);
    transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    visibility: hidden; }

button {
  overflow: hidden;
  border: 1px solid #00476b !important;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #00476b;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s; }
  button:hover {
    color: white; }
    button:hover::after {
      height: 220%;
      opacity: 1; }

button::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #00476b;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

#timer {
  font-size: 20px;
  color: green;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  padding: 5px 25px; }
  #timer.stopped {
    color: #00476b; }

img.match {
  filter: grayscale(1); }

.modal-outer {
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .modal-outer .modal {
    position: relative;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .modal-outer .modal.success form, .modal-outer .modal.success h3 {
      transform: scale(0); }
    .modal-outer .modal.success .saved {
      transform: scale(1);
      height: auto; }
    .modal-outer .modal.error form, .modal-outer .modal.error h3 {
      transform: scale(0); }
    .modal-outer .modal.error .error {
      transform: scale(1);
      height: auto; }
    .modal-outer .modal button:hover {
      color: green; }

.saved, .error {
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(0);
  height: 0px;
  font-size: 40px; }

form {
  text-align: center;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  form h3 {
    transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  form input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
    border: 1px solid #00476b;
    outline: none; }
  form span {
    color: green;
    font-size: 40px; }
  form .submit {
    border-radius: 0px;
    background-color: #00476b;
    border: 1px solid #00476b;
    color: white;
    font-size: 14px;
    cursor: pointer; }

.github {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-align: center;
      align-items: center;
  bottom: 15px;
  right: 20px; }
  .github a {
    color: black;
    text-decoration: none;
    padding-right: 50px;
    background-image: url(../github-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; }
    .github a p {
      margin: 5px 0px; }
    .github a:hover {
      color: #00476b; }

#leaderboard {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 100px;
  padding: 10px 20px;
  width: 300px; }
  #leaderboard h4 {
    margin-top: 0px; }
  #leaderboard .single-score {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 12px; }
